<p id="notice"><%= notice %></p>

<p>
  <strong>游戏:</strong>
  <%= @pool.game_id %>
</p>

<p>
  <strong>赛事:</strong>
  <%= @pool.match_id %>
</p>

<p>
  <strong>创建时间:</strong>
  <%= @pool.create_time.strftime('%Y年%m月%d日%H:%M:%S') %>
</p>

<p>
  <strong>销售状态:</strong>
  <%= @pool.sell_status %>
</p>

<p>
  <strong>赛果:</strong>
  <%= @pool.match_result %>
</p>

<%= link_to '编辑', edit_pool_path(@pool) %> |
<%= link_to '返回', pools_path %>
