<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'游戏编号' %><br>
    <%= f.number_field :game_no %>
  </div>
  <div class="field">
    <%= f.label :'游戏名称' %><br>
    <%= f.text_field :game_name %>
  </div>
  <div class="actions">
    <%= f.submit '提交'%>
  </div>
<% end %>
