<h1>游戏列表</h1>

<table>
  <thead>
    <tr>
      <th>游戏编号</th>
      <th>游戏名称</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.game_id %></td>
        <td><%= game.game_name %></td>
        <td><%= link_to '查看', game %></td>
        <td><%= link_to '编辑', edit_game_path(game) %></td>
        <td><%= link_to '删除', game, method: :delete, data: { confirm: '确定要删除该条记录?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建游戏', new_game_path %>
