<p id="notice"><%= notice %></p>

<p>
  <strong>游戏id:</strong>
  <%= @game.id %>
</p>
<p>
  <strong>游戏编号:</strong>
  <%= @game.game_no %>
</p>

<p>
  <strong>游戏名称:</strong>
  <%= @game.game_name %>
</p>

<%= link_to '修改', edit_game_path(@game) %> |
<%= link_to '返回', games_path %>
