<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.text_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :player_a %><br>
    <%= f.text_field :player_a %>
  </div>
  <div class="field">
    <%= f.label :player_b %><br>
    <%= f.text_field :player_b %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :operator %><br>
    <%= f.number_field :operator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
