<h1>赛事信息</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>赛事编号</th>
      <th>选手A</th>
      <th>选手B</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_no %></td>
        <td><%= match.player_a %></td>
        <td><%= match.player_b %></td>
        <td><%= match.start_time.strftime("%Y年%m月%d日%H时%M分") %></td>
        <td><%= match.end_time.strftime("%Y年%m月%d日%H时%M分") %></td>
        <td><%= link_to '查看', match %></td>
        <td><%= link_to '修改', edit_match_path(match) %></td>
        <td><%= link_to '删除', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新加赛事', new_match_path %>
