<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @match.match_id %>
</p>

<p>
  <strong>Player a:</strong>
  <%= @match.player_a %>
</p>

<p>
  <strong>Player b:</strong>
  <%= @match.player_b %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @match.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @match.end_time %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @match.operator %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
