<p id="notice"><%= notice %></p>

<p>
  <strong>赛事id:</strong>
  <%= @match.id %>
</p>
<p>
  <strong>赛事编号:</strong>
  <%= @match.match_no %>
</p>

<p>
  <strong>选手A:</strong>
  <%= @match.player_a %>
</p>

<p>
  <strong>选手B:</strong>
  <%= @match.player_b %>
</p>

<p>
  <strong>开始时间:</strong>
  <%= @match.start_time.strftime("%y年%m月%d日 %H时%M分") %>
</p>

<p>
  <strong>结束时间:</strong>
  <%= @match.end_time.strftime("%y年%m月%d日 %H时%M分") %>
</p>

<p>
  <strong>管理员:</strong>
  <%= @match.operator %>
</p>

<%= link_to '修改', edit_match_path(@match) %> |
<%= link_to '返回', matches_path %>
