<!--h1>活动列表</h1-->

<table class="table table-hover">
  <thead>
    <!--tr>
      <th>主题</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>限定人数</th>
      <th>已报人数</th>
      <th>活动地点</th>
      <th>发起人</th>
      <th>联系方式</th>
      <th>备注</th>
      <th></th>
      <th></th>
      <th></th>
    </tr-->
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
				
        <td><%= activity.starttime.strftime("%m月%d日 ")%><%= activity.place %></td>
				<td><%= link_to activity.title, activity %></td>
        <td><%= link_to '查看', activity %></td>
        <!--td><%= activity.endtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= activity.quota %></td>
        <td><%= activity.signed %></td>
        <td><%= activity.place %></td>
        <td><%= activity.organizer %></td>
        <td><%= activity.contact %></td>
        <td><%= activity.other %></td>
        <td><%= link_to '查看', activity %></td>
        <td><%= link_to '编辑', edit_activity_path(activity) %></td>
        <td><%= link_to '删除', activity, method: :delete, data: { confirm: '确定要删除该活动吗?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '发起活动', new_activity_path, class: 'btn btn-small' %>
