<legend><%= @activity.title %></legend>
<p id="notice"><%= notice %></p>
	
<table class="table">
	<thead>
		<tr>
			<th><span class="label label-success">活动信息:</span></th>
		</tr>
	</thead>
	<tbody>
		<tr><td>
			<strong>活动时间:</strong>
			<%= @activity.starttime.strftime("%Y-%m-%d %H:%M -")%>
			<%= @activity.endtime.strftime(" %Y-%m-%d %H:%M")%>
			<br>
			<strong>活动人数:	</strong><%= @activity.quota %>(已报人数<%= @activity.signed %>)<br>
			<strong>活动地点:	</strong><%= @activity.place %><br>
			<strong>发起人:		</strong><%= @activity.organizer %><br>
			<strong>联系方式:	</strong><%= @activity.contact %><br>
			<strong>其它:			</strong><%= @activity.other %><br>
		</td><tr>
	</tbody>
</table>

<table class="table">
	<thead>
		<tr>
			<th><span class="label label-success">活动说明:</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= sanitize(@activity.description) %></td>
		</tr>
	</tbody>
</table>
<%= link_to '编辑', edit_activity_path(@activity) %> |
<%= link_to '返回', activities_path %>

