
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "我爱竞猜", "#", id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "主页",		root_path %></li>
						<li><%= link_to "我要购彩",	sell_path %></li>
						<li><%= link_to "赛事管理",	matches_path %></li>
						<li><%= link_to "游戏管理",	games_path %></li>
						<li><%= link_to "奖池管理",	pools_path %></li>
						<li><%= link_to "帮助",		help_path %></li>
						<li><%= link_to "登录",		'#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
