<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">活动</li>
			<%#= render 'catalogs/list' %>
			<li><%= link_to "羽毛球", badminton_path %></li>
			<!--li><%= link_to "篮球", '#' %></li>
			<li><%= link_to "足球", '#' %></li>
			<li><%= link_to "乒乓球", '#' %></li>
			<li><%= link_to "排球", '#' %></li>
			<li><%= link_to "滑冰", '#' %></li-->
			<li><%= link_to "滑雪", skiing_path %></li>
			<!--li><%= link_to "K歌", '#' %></li>
			<li><%= link_to "跳舞", '#'  %></li>
			<li><%= link_to "游泳", '#' %></li-->
		</ul>
	</div><!--/.well -->
</div><!--/span-->
