<!DOCTYPE html>
<html>
<head>
  <title>爱运动!爱生活!| <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
	<script>
		tinymce.init({selector:'textarea'});
	</script>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<div class="row">
			<%= render 'layouts/left' %>
			<div class="span9">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
